* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
  }

  .grid1 {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .grid2 {
    grid-column: 1 / 5;
    grid-row: 3 / 7;
  }

  .grid3 {
    grid-column: 5 / 8;
  }

  .grid4 {
    grid-column: 8 / -1;
  }

  .grid5 {
    grid-column: 5 / 7;
  }

  .grid6 {
    grid-column: span 1;
  }

  .grid7 {
    grid-column: span 5;
  }

  .grid8 {
    grid-column: span 8;
    grid-row: span 2;
  }
  
  .grid {
    background-color: #777;
    padding: 10px;
    border: 1px solid #222;
  }